.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2.5rem 1.5rem;
}
.header__logo img {
  width: 2.5rem;
  height: auto;
}
.header label {
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.header label img {
  width: 2rem;
  height: auto;
}
.header input[type=checkbox]:not(:checked) ~ .header__nav {
  transform: translate(-100%, 0);
  transition: transform 0.5s linear;
}
.header input[type=checkbox]:checked ~ .header__nav {
  transform: translate(0, 0);
  transition: transform 0.5s linear;
}
.header input[type=checkbox]:not(:checked) ~ .menu-icon-close {
  display: none;
}
.header input[type=checkbox]:checked ~ .menu-icon-hamburger {
  display: none;
}
.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100dvh;
  background-color: #0B0D17;
}
.header__nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  gap: 2rem;
}
.header__nav__list__item {
  font-size: 16px;
  padding-left: 2rem;
}
.header__nav__list__item a {
  text-decoration: none;
  color: #FFFFFF;
}

.main {
  text-align: center;
  padding: 1.5rem;
}
.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
}
.main__content h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
}
.main__content h1 span {
  font-size: 56px;
  font-weight: 100;
}
.main__content p {
  font-size: 16px;
  line-height: 1.5rem;
}
.main__button {
  margin-top: 3rem;
}
.main__button button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  width: 9rem;
  height: 9rem;
  font-size: 18px;
  font-weight: 100;
  border-radius: 50%;
  color: #0B0D17;
  background-color: #FFFFFF;
}
.main__button button:hover::before {
  content: "";
  position: absolute;
  top: -14%;
  left: -14%;
  width: 125%;
  height: 125%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  animation: button 1s linear infinite;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 2.5rem 2rem;
  }
  .header__logo img {
    width: 3rem;
  }
  .header label {
    display: none;
  }
  .header input[type=checkbox]:not(:checked) ~ .header__nav {
    transform: translate(0, 0);
  }
  .header input[type=checkbox]:checked ~ .header__nav {
    transform: translate(0, 0);
  }
  .header__nav {
    position: static;
    height: auto;
    width: 100%;
    background-color: transparent;
  }
  .header__nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: 2.5rem;
  }
  .header__nav__list__item {
    padding-left: 0rem;
  }
  .main {
    padding: 8rem 2.5rem;
  }
  .main__content {
    gap: 2rem;
  }
  .main__content h1 {
    font-size: 18px;
  }
  .main__content h1 span {
    font-size: 144px;
  }
  .main__content p {
    width: 70%;
    margin: 0 auto;
    font-size: 14px;
  }
  .main__button {
    margin-top: 2rem;
  }
  .main__button button {
    width: 17rem;
    height: 17rem;
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 2.5rem 3rem;
  }
  .header__nav__list {
    gap: 2.5rem;
  }
  .header__nav__list__item {
    cursor: pointer;
    font-size: 14px;
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    text-align: left;
    padding: 0;
    padding-top: 8rem;
    gap: 3rem;
  }
  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 50%;
    margin-bottom: 0;
    padding-left: 5rem;
    gap: 1.5rem;
  }
  .main__content h1 {
    font-size: 18px;
  }
  .main__content h1 span {
    font-size: 144px;
  }
  .main__content p {
    width: 100%;
    font-size: 14px;
  }
  .main__button {
    width: 50%;
    margin-top: 0;
    padding-right: 5rem;
  }
  .main__button button {
    float: right;
    width: 17rem;
    height: 17rem;
    font-size: 28px;
  }
}

/*# sourceMappingURL=home.css.map */
