.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2.5rem 1.5rem;
}
.header__logo img {
  width: 2.5rem;
  height: auto;
}
.header label {
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.header label img {
  width: 2rem;
  height: auto;
}
.header input[type=checkbox]:not(:checked) ~ .header__nav {
  transform: translate(-100%, 0);
  transition: transform 0.5s linear;
}
.header input[type=checkbox]:checked ~ .header__nav {
  transform: translate(0, 0);
  transition: transform 0.5s linear;
}
.header input[type=checkbox]:not(:checked) ~ .menu-icon-close {
  display: none;
}
.header input[type=checkbox]:checked ~ .menu-icon-hamburger {
  display: none;
}
.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100dvh;
  background-color: #0B0D17;
}
.header__nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  gap: 2rem;
}
.header__nav__list__item {
  font-size: 16px;
  padding-left: 2rem;
}
.header__nav__list__item a {
  text-decoration: none;
  color: #FFFFFF;
}

.main {
  text-align: center;
  padding: 1.5rem;
}
.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
}
.main__content h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
}
.main__content h1 span {
  font-size: 56px;
  font-weight: 100;
}
.main__content p {
  font-size: 16px;
  line-height: 1.5rem;
}
.main__button {
  margin-top: 3rem;
}
.main__button button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  width: 9rem;
  height: 9rem;
  font-size: 18px;
  font-weight: 100;
  border-radius: 50%;
  color: #0B0D17;
  background-color: #FFFFFF;
}
.main__button button:hover::before {
  content: "";
  position: absolute;
  top: -14%;
  left: -14%;
  width: 125%;
  height: 125%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  animation: button 1s linear infinite;
}

@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 2.5rem 2rem;
  }
  .header__logo img {
    width: 3rem;
  }
  .header label {
    display: none;
  }
  .header input[type=checkbox]:not(:checked) ~ .header__nav {
    transform: translate(0, 0);
  }
  .header input[type=checkbox]:checked ~ .header__nav {
    transform: translate(0, 0);
  }
  .header__nav {
    position: static;
    height: auto;
    width: 100%;
    background-color: transparent;
  }
  .header__nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: 2.5rem;
  }
  .header__nav__list__item {
    padding-left: 0rem;
  }
  .main {
    padding: 8rem 2.5rem;
  }
  .main__content {
    gap: 2rem;
  }
  .main__content h1 {
    font-size: 18px;
  }
  .main__content h1 span {
    font-size: 144px;
  }
  .main__content p {
    width: 70%;
    margin: 0 auto;
    font-size: 14px;
  }
  .main__button {
    margin-top: 2rem;
  }
  .main__button button {
    width: 17rem;
    height: 17rem;
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 2.5rem 3rem;
  }
  .header__nav__list {
    gap: 2.5rem;
  }
  .header__nav__list__item {
    cursor: pointer;
    font-size: 14px;
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    text-align: left;
    padding: 0;
    padding-top: 8rem;
    gap: 3rem;
  }
  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 50%;
    margin-bottom: 0;
    padding-left: 5rem;
    gap: 1.5rem;
  }
  .main__content h1 {
    font-size: 18px;
  }
  .main__content h1 span {
    font-size: 144px;
  }
  .main__content p {
    width: 100%;
    font-size: 14px;
  }
  .main__button {
    width: 50%;
    margin-top: 0;
    padding-right: 5rem;
  }
  .main__button button {
    float: right;
    width: 17rem;
    height: 17rem;
    font-size: 28px;
  }
}
.section-content {
  text-align: center;
  padding: 1.5rem;
}
.section-content .destination h2 {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
.section-content .destination h2 span {
  color: #727272;
}
.section-content .destination__img {
  margin-bottom: 1.8rem;
}
.section-content .destination__img img {
  width: 9rem;
}
.section-content .destination__explation {
  padding-top: 1.8rem;
}
.section-content .destination__explation ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.section-content .destination__explation ul li {
  list-style: none;
}
.section-content .destination__explation ul li button {
  cursor: pointer;
  border: none;
  font-weight: 100;
  font-size: 14px;
  color: #FFFFFF;
  background-color: transparent;
}
.section-content .destination__explation .explation__text {
  margin: 1.5rem 0;
  padding: 0 1rem;
}
.section-content .destination__explation .explation__text h2 {
  font-weight: 100;
  font-size: 56px;
}
.section-content .destination__explation .explation__text p {
  font-weight: 100;
  font-size: 16px;
}
.section-content .destination__explation .explation__statistics {
  margin: 1.5rem 0;
}
.section-content .destination__explation .explation__statistics .statistics__distance,
.section-content .destination__explation .explation__statistics .statistics__travel {
  margin: 1.5rem 0;
}
.section-content .destination__explation .explation__statistics .statistics__distance p,
.section-content .destination__explation .explation__statistics .statistics__travel p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 0.8rem;
}
.section-content .destination__explation .explation__statistics .statistics__distance h3,
.section-content .destination__explation .explation__statistics .statistics__travel h3 {
  font-weight: 100;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .section-content {
    padding: 2.5rem 0;
  }
  .section-content .destination {
    padding: 0 2.5rem;
  }
  .section-content .destination h2 {
    text-align: left;
  }
  .section-content .destination__img {
    margin-bottom: 1.8rem;
  }
  .section-content .destination__img img {
    width: 16rem;
  }
  .section-content .destination__explation {
    width: 70%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .section-content .destination__explation ul {
    gap: 2.5rem;
  }
  .section-content .destination__explation ul li button {
    font-size: 16px;
  }
  .section-content .destination__explation .explation__text h2 {
    text-align: center;
    font-size: 100px;
  }
  .section-content .destination__explation .explation__text p {
    font-size: 16px;
  }
  .section-content .destination__explation .explation__statistics {
    display: flex;
    justify-content: space-between;
  }
  .section-content .destination__explation .explation__statistics .statistics__distance p,
  .section-content .destination__explation .explation__statistics .statistics__travel p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .section-content {
    padding: 3rem 0;
  }
  .section-content .destination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    gap: 3rem;
  }
  .section-content .destination h2 {
    grid-area: 1/1/2/3;
    font-size: 18px;
  }
  .section-content .destination__img {
    margin-bottom: 1.8rem;
  }
  .section-content .destination__img img {
    width: 30rem;
  }
  .section-content .destination__explation {
    width: 100%;
  }
  .section-content .destination__explation ul li button {
    font-size: 18px;
  }
  .section-content .destination__explation .explation__text h2 {
    font-size: 144px;
  }
  .section-content .destination__explation .explation__text p {
    text-wrap: balance;
    font-size: 16px;
  }
}
.section-content {
  text-align: center;
}
.section-content .crew {
  padding: 1.5rem 1rem;
}
.section-content .crew h2 {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
.section-content .crew h2 span {
  color: #727272;
}
.section-content .crew__text {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.section-content .crew__text p {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 0.8rem;
  color: #727272;
}
.section-content .crew__text h3 {
  font-weight: 100;
  font-size: 32px;
}
.section-content .crew__text .crew__bio {
  margin-top: 2rem;
}
.section-content .crew__text .crew__bio p {
  text-wrap: balance;
  text-transform: none;
  font-weight: 100;
  color: #FFFFFF;
  font-size: 14px;
}
.section-content .crew__nav {
  padding: 2rem 0;
}
.section-content .crew__nav ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.section-content .crew__nav ul li {
  list-style: none;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #727272;
}
.section-content .crew__nav ul li button {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
}
.section-content .crew__img {
  margin-top: 1.8rem;
}
.section-content .crew__img img {
  width: 9rem;
}

@media screen and (min-width: 768px) {
  .section-content {
    text-align: center;
    padding: 1.5rem;
  }
  .section-content .crew__text p {
    font-size: 28px;
  }
  .section-content .crew__text h3 {
    font-size: 56px;
  }
  .section-content .crew__text .crew__bio p {
    width: 75%;
    margin: 0 auto;
    line-height: 1.8rem;
    font-size: 14px;
  }
  .section-content .crew__nav {
    padding: 2.5rem 0;
  }
  .section-content .crew__nav ul li {
    width: 0.8rem;
    height: 0.8rem;
  }
  .section-content .crew__img img {
    width: 16rem;
  }
}
@media screen and (min-width: 1024px) {
  .section-content .crew {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-items: flex-start;
    padding: 1rem 5rem;
  }
  .section-content .crew h2 {
    grid-area: 1/1/1/3;
    font-size: 18px;
  }
  .section-content .crew__text {
    text-align: left;
    grid-area: 2/1/2/2;
  }
  .section-content .crew__text p {
    font-size: 32px;
  }
  .section-content .crew__text h3 {
    font-size: 100px;
  }
  .section-content .crew__text .crew__bio p {
    margin: 0;
    font-size: 16px;
  }
  .section-content .crew__nav {
    grid-area: 3/1/4/3;
    padding: 0;
  }
  .section-content .crew__nav ul li {
    width: 0.8rem;
    height: 0.8rem;
  }
  .section-content .crew__img img {
    width: 25rem;
  }
}
.section-content {
  text-align: center;
  padding: 1.5rem 0;
}
.section-content .tech h2 {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
.section-content .tech h2 span {
  color: #727272;
}
.section-content .tech__img {
  margin-bottom: 1.8rem;
}
.section-content .tech__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.section-content .tech__container {
  padding-top: 0;
}
.section-content .tech__container ul {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.section-content .tech__container ul li {
  list-style: none;
  padding: 1rem 1.3rem;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
}
.section-content .tech__container ul li button {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  font-weight: 100;
  font-size: 16px;
  color: inherit;
  background: transparent;
}
.section-content .tech__container .tech__text {
  margin-top: 3rem;
}
.section-content .tech__container .tech__text h2 {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2px;
  color: #727272;
}
.section-content .tech__container .tech__text div {
  margin-top: 1rem;
  padding: 0 1.5rem;
}
.section-content .tech__container .tech__text div p {
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5rem;
}
.section-content .tech__container .tech__text div h2 {
  font-weight: 100;
  font-size: 32px;
  line-height: 1rem;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .section-content {
    padding: 2.5rem 0;
  }
  .section-content .tech h2 {
    text-align: left;
    padding-left: 2.5rem;
    font-size: 18px;
  }
  .section-content .tech__img {
    margin: 3rem 0;
  }
  .section-content .tech__container ul {
    gap: 2.5rem;
  }
  .section-content .tech__container .tech__text {
    margin-top: 3rem;
  }
  .section-content .tech__container .tech__text h2 {
    text-align: center;
    font-size: 28px;
  }
  .section-content .tech__container .tech__text .text__content p {
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 2rem;
  }
  .section-content .tech__container .tech__text .text__content h2 {
    margin-bottom: 2.5rem;
    font-size: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .section-content .tech {
    display: flex;
    flex-wrap: wrap;
  }
  .section-content .tech h2 {
    padding-left: 6rem;
  }
  .section-content .tech__img {
    display: none;
  }
  .section-content .tech__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
  }
  .section-content .tech__container ul {
    gap: 2.5rem;
  }
  .section-content .tech__container .tech__text {
    margin-top: 3rem;
  }
  .section-content .tech__container .tech__text h2 {
    text-align: center;
    font-size: 28px;
  }
  .section-content .tech__container .tech__text .text__content p {
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 2rem;
  }
  .section-content .tech__container .tech__text .text__content h2 {
    margin-bottom: 2.5rem;
    font-size: 56px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "bellefair", "times new roman", sans-serif;
  color: #FFFFFF;
}

input[type=checkbox] {
  display: none;
}

.active {
  border-right: 3px solid #FFFFFF;
}

.activeD {
  border-right: none;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #FFFFFF;
}

.activeC {
  background-color: #FFFFFF !important;
}

.activeT {
  border-radius: 50% !important;
  color: #000000 !important;
  background-color: #FFFFFF !important;
}

@media (min-width: 768px) {
  .active {
    border-right: none;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #FFFFFF;
  }
}

/*# sourceMappingURL=style.css.map */
