@use 'variables.scss';
@use 'mixins.scss';

.section-content {
  text-align: center;
  padding: 1.5rem;

  .destination {
    h2 {
      font-weight: 100;
      font-size: variables.$font-size-7;
      letter-spacing: variables.$letter-spacing-2;
      margin-bottom: 1.5rem;

      span {
        color: #727272;
      }
    }

    &__img {
      margin-bottom: 1.8rem;

      img {
        width: 9rem;
      }
    }

    &__explation {
      padding-top: 1.8rem;

      ul {
        display: flex;
        justify-content: center;
        gap: 2rem;

        li {
          list-style: none;

          button {
            cursor: pointer;
            border: none;
            font-weight: 100;
            font-size: variables.$font-size-8;
            color: variables.$white;
            background-color: transparent;
          }
        }
      }

      .explation__text {
        margin: 1.5rem 0;
        padding: 0 1rem;

        h2 {
          font-weight: 100;
          font-size: variables.$font-size-3;
        }

        p {
          font-weight: 100;
          font-size: variables.$font-size-7;
        }
      }

      .explation__statistics {
        margin: 1.5rem 0;

        .statistics__distance,
        .statistics__travel {
          margin: 1.5rem 0;

          p {
            font-size: variables.$font-size-6;
            font-weight: 100;
            margin-bottom: 0.8rem;
          }

          h3 {
            font-weight: 100;
            font-size: variables.$font-size-4;
          }
        }
      }
    }
  }
}

// Media queries
// Tablet
@media screen and (min-width: 768px) {
  .section-content {
    padding: 2.5rem 0;

    .destination {
      padding: 0 2.5rem;

      h2 {
        text-align: left;
      }

      &__img {
        margin-bottom: 1.8rem;

        img {
          width: 16rem;
        }
      }

      &__explation {
        width: 70%;
        margin: 0 auto;
        padding-top: 2rem;

        ul {
          gap: 2.5rem;

          li {

            button {
              font-size: variables.$font-size-7;
            }
          }
        }

        .explation__text {
          h2 {
            text-align: center;
            font-size: variables.$font-size-2;
          }

          p {
            font-size: variables.$font-size-7;
          }
        }

        .explation__statistics {
          display: flex;
          justify-content: space-between;

          .statistics__distance,
          .statistics__travel {
            p {
              font-size: variables.$font-size-7;
            }
          }
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: 1024px) {
  .section-content {
    padding: 3rem 0;

    .destination {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      width: 75%;
      margin: 0 auto;
      gap: 3rem;

      h2 {
        grid-area: 1 / 1 / 2 / 3;
        font-size: variables.$font-size-6;
      }

      &__img {
        margin-bottom: 1.8rem;

        img {
          width: 30rem;
        }
      }

      &__explation {
        width: 100%;

        ul {
          li {
            button {
              font-size: variables.$font-size-6;
            }
          }
        }

        .explation__text {
          h2 {
            font-size: variables.$font-size-1;
          }

          p {
            text-wrap: balance;
            font-size: variables.$font-size-7;
          }
        }
      }
    }
  }
}