$white: #FFFFFF;
$blue-300: #D0D6F9;
$blue-900: #0B0D17;

$font-family: 'bellefair', 'times new roman', sans-serif;
$font-size-1: 144px;
$font-size-2: 100px;
$font-size-3: 56px;
$font-size-4: 32px;
$font-size-5: 28px;
$font-size-6: 18px;
$font-size-7: 16px;
$font-size-8: 14px;

$line-height: normal;

$letter-spacing-1: 0px;
$letter-spacing-2: 2px;
$letter-spacing-3: 4px;
